*{
  box-sizing: border-box;
}
header{
  height: 25vh;
  width: 100vw;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  height: 80vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;

}

aside{
  height: 80vh;
  width: 40vw;
  background-color: lightseagreen;
}

.image-section{
  height: 60vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  text-align: left;
  flex-direction: column;
}

footer{
  height: 15vh;
  width: 100vw;
  background-color: lime;
}